@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 92%;
  margin: 0 auto;
  max-width: 1200px;
}
.c_shadow {
  box-shadow: 1px 0px 0px 0px #3338;
}
::-webkit-search-cancel-button {
  display: none;
}

